@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Metropolis';
  src: url('Metropolis-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis normal';
  src: url('Metropolis.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.inter {
  font-family: "Inter";
}
.roboto{
  font-family: "Roboto", serif;
}

.landing {
  height: 100%;
  width: 100%;
  background: url("../assets/Background.png");
  background-position: center;
  background-size: 100% 100%;
  backdrop-filter: blur(5px);
  font-family: 'Inter';
}

.signin-image {
  background: url("../assets/signin-img.png");
  background-position: center;
  background-size: cover;
}

label {
  font-size: 0.75rem;
}

.metropolis {
  font-family: "Metropolis", sans-serif;
}

.metropolis-normal {
  font-family: "Metropolis normal", sans-serif;
}

.feature {
  background: #FFFFFF;
  box-shadow: 2px 4px 21px rgba(0, 0, 0, 0.25);
}

#name,
#email {
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  padding: 0.75rem;
}

@media only screen and (max-width: 767px) {
  .MuiOutlinedInput-root {
    height: 2.75rem !important;
    font-size: 14px;
  }

  .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
    padding: 1rem;
  }

  #name,
  #email {
    padding: 0.65rem !important;
  }

  .login {
    border-radius: 6px;
  }
  .footer{
    background-color: #1836B2;
  }
}



@media only screen and (min-width:1440px) {
  .MuiOutlinedInput-root {
    height: 3rem !important;
    font-size: 1rem;
  }

  #name,
  #email {
    padding: 0.75rem !important;
  }
}